<head xmlns="http://www.w3.org/1999/html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico"">
    <title>Atlanta Zoo</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- datetime CSS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<html>
<style media="screen">
html,
body {
    height: 100%;
}
body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e6e6e6;
}
.form-unconfirmed {
    width: 100%;
    padding: 50px;
    margin: 0 auto;
}
.form-unconfirmed .checkbox {
    font-weight: 400;
}
.form-unconfirmed .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.selected {
    background-color: #D3D3D3;
    color: #696969;
}
#title {
    margin-top: -50px;
}
#search-input{
  width: 200px;
  height: 35px;
}
</style>
<body>
    <form class="form-unconfirmed" action="{{ url_for('adminViewVisitors') }}" method="POST">
        <h1 id="title" class="h3 mb-3 font-weight-normal text-center"><strong>View Visitor</strong></h1>
        <table class="table table-bordered table-hover" id="visTb">
            <thead class="thead-light">
                <tr>
                    <!-- onclick="sort(document.getElementById('sortName').value) -->
                    <th scope="col">Username<button name="sortName" class="btn dropdown-toggle float-right"></button></th>
                    <th scope="col">Email<button name="sortEmail" class="btn dropdown-toggle float-right"></button></th>
                </tr>
            </thead>
            <tbody>
            {% for item in data %}
            <tr>
                <td scope="row">{{item[0]}}</td>
                <td>{{item[1]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-between flex-direction: flex-column">
            </div>
            <div class="d-flex justify-content-between flex-direction: flex-column-reverse">
                <div class="input-group">
                    <fieldset>
                        <div class="input-group-btn">
                            <select name="searchopt">
                                <option value="Username">Username</option>
                                <option value="Email">Email</option>
                            </select>
                            <input type="text" class="form-control" name="searchkey" value="" id="search-input" placeholder="Type in Here" aria-label="...">
                            <button type="submit" class="btn btn-secondary btn-block" style="width: 70px; text-align: center; height: 35px;" name="search">Search</button>
                        </div><!-- /btn-group -->
                    </fieldset>
                </div><!-- /input-group -->
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-between flex-direction: flex-column">
                <button type="submit" class="btn btn-secondary btn-block" style="width: 200px; text-align: center; height: 35px; margin-top: 5px;" name="back">Back</button>
            </div>
            <div class="d-flex justify-content-between flex-direction: flex-column-reverse">
                <button type="submit" id="delBut" value="" class="btn btn-secondary btn-block" style="width: 200px; text-align: center; height: 35px; margin-left: 20px;" name="delete">Delete Visitor</button>
            </div>
        </div>
    </form>
</body>

</html>

<script type="text/javascript">
    $("#visTb tr").click(function(){
        $(this).addClass('selected').siblings().removeClass('selected');
            document.getElementById('delBut').value = $(this).find('td:first').text()
    });
    $('.dropdown-item').click(function() {
        $('#dropdownMenuButton').text($(this).text());
    });
    $('th>.dropdown-toggle').on('click', onClick);
</script>