<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico">
    <title>Atlanta Zoo</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</head>
<html>
<style media="screen">
html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e6e6e6;
}

.form-unconfirmed {
    width: 100%;
    padding: 50px;
    margin: 0 auto;
}

.form-unconfirmed .checkbox {
    font-weight: 400;
}

.form-unconfirmed .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:
	focus {
    z-index: 2;
}

#title {
    margin-top: -50px;
}

#dropdownMenuButton, #dropdownMenuButton2 {
    margin-top: 10px;
}


th>.dropdown-toggle {
    background-color: transparent;
}

th>.dropdown-toggle:focus,
th>.dropdown-toggle:active {
    outline: none !important;
    box-shadow: none;
}

.table tbody tr.highlight td {
    background-color: #ddd;
}
.selected {
    background-color: #D3D3D3;
    color: #696969;
}

.hiddenField {
    display: none;
}
</style>

<body>
    <div class="form-unconfirmed">
        <h1 id="title" class="h3 mb-3 font-weight-normal text-center"><b>Animals</b></h1>
        <div class="d-flex justify-content-between">
        	<div class="d-flex justify-content-between flex-direction: flex-column"> 
        		<h3 id="subtitle" class="h4 mb-2 font-weight-normal">Atlanta Zoo</h3>
	      	</div>
	      	<div class="d-flex justify-content-between flex-direction: flex-column-reverse">
				<form action="{{ url_for('adminViewAnimals') }}" method="POST">
                    <button type="submit" id="delBut" value="" class="btn btn-secondary" style="width: 200px; text-align: center; height: 35px;  margin-top: 5px; margin-bottom: 5px;" name="delete">Remove Animal</button>
                </form>
	      	</div>
	    </div>
        <form action="{{ url_for('adminViewAnimals') }}" method="POST">
		<div class="d-flex justify-content-between">
        	<div class="d-flex justify-content-between flex-direction: flex-column"> 
        		<input type="text" class="form-control" id="searchName" placeholder="Name" style="width: 200px; text-align: center; height: 35px; margin-top: 5px; margin-bottom: 5px;">
	      	</div>
	      	<div class="d-flex justify-content-between flex-direction: flex-column-reverse">
                <select Exhibit="searchopt" class="btn btn-secondary btn-block" style="width: 200px; text-align: center; height: 35px;">
                    <option value="anyExh">Any Exhibit</option>
                    <option value="pacific">Pacific</option>
                    <option value="jungle">Jungle</option>
                    <option value="sahara">Sahara</option>
                    <option value="birds">Birds</option>
                </select>
	    	</div>
    	</div>
		<div class="d-flex justify-content-between" style="margin-bottom: 20px;">
	      	<div class="d-flex justify-content-between flex-direction: flex-column"> 
	      		<input type="text" class="form-control" id="searchSpecies" placeholder="Species" style="width: 200px; text-align: center; height: 35px; margin-top: 5px;">
	      	</div>
			<div class="d-flex justify-content-between flex-direction: flex-column-reverse">
                <select Type="searchopt" class="btn btn-secondary btn-block" style="width: 200px; text-align: center; height: 35px;">
                    <option value="anyType">Any Type</option>
                    <option value="amp">Amphibian</option>
                    <option value="bird">Bird</option>
                    <option value="fish">Fish</option>
                    <option value="inv">Invertebrate</option>
                    <option value="mammal">Mammal</option>
                    <option value="rep">Reptile</option>
                </select>
	      	</div>
		</div>
		<div class="d-flex justify-content-between" style="margin-bottom: 20px;">
	      	<div class="d-flex justify-content-between flex-direction: flex-column">
	      		<input id="search" class="btn btn-secondary" type="submit" value="Search" style="width: 200px; text-align: center; height: 35px;  margin-top: 5px; margin-bottom: 5px;">
	      	</div>
	      	<div class="col-lg-6"></div>
			<div class="col-lg-1">
	      	<p>Age (Year)</p>
	      	</div>
	      	<div class="col-lg-1"><p>MIN</p>
	        <select class="1-100" style="width: 70px; height: 35px;"></select> 
	    	</div>
	        <div class="col-lg-1"><p>MAX</p>
			<select class="1-100" style="width: 70px; height: 35px;"></select>
	      	</div>
		</div>
		<div class="d-flex justify-content-between">
        	<div class="d-flex justify-content-between flex-direction: flex-column">
	      	</div>
	      	<div class="d-flex justify-content-between flex-direction: flex-column-reverse">
	    	</div> 
	    </div>
        </form>
        <form class="form-unconfirmed" action="{{ url_for('adminViewAnimals') }}" method="POST">
            <table class="table table-bordered table-hover" id="visTb">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name<button name="sortName" class="btn dropdown-toggle float-right"></button></th>
                        <th scope="col">Species<button name="sortSpecies" class="btn dropdown-toggle float-right"></button></th>
                        <th scope="col">Exhibit<button name="sortExhibit" class="btn dropdown-toggle float-right"></button></th>
                        <th scope="col">Age<button name="sortAge" class="btn dropdown-toggle float-right"></button></th>
                        <th scope="col">Type<button name="sortType" class="btn dropdown-toggle float-right"></button></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td scope="row">{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                        <td>{{item[3]}}</td>
                        <td>{{item[4]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
		<div class="d-flex justify-content-between">
			<div class="d-flex justify-content-between flex-direction: flex-column">
				<form action="{{ url_for('adminViewAnimals') }}" method="POST">
					<button type="submit" class="btn btn-secondary btn-block" style="width: 200px; text-align: center; height: 35px; margin-top: 5px;" name="back">Back</button>
				</form>
			</div>
			<div class="d-flex justify-content-between flex-direction: flex-column-reverse">
				<form action="{{ url_for('adminViewAnimals') }}" method="POST">
					<button type="submit" class="btn btn-light btn-block" style="width: 200px; text-align: center; height: 35px; margin-top: 5px;" name="logout">Logout</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

<script type="text/javascript">
	$(function(){
    var $select = $(".1-100");
    for (i=0;i<=100;i++){
        $select.append($('<option></option>').val(i).html(i))
    }
	});

	$("#visTb tr").click(function(){
        $(this).addClass('selected').siblings().removeClass('selected');
        var n = {}
        n.name = $(this).find('td:first').text();
        n.exhibit = $(this).find('td:nth-child(2)').text();
        n.date = $(this).find('td:nth-child(3)').text();
            document.getElementById('delBut').value = JSON.stringify(n)
    });

	$('.dropdown-item').click(function() {
		var str = this.id;
		if (str == 'jungle') {
			$('#dropdownMenuButton1').text('Exhibit: Jungle');
		} else if (str == 'sahara') {
			$('#dropdownMenuButton1').text('Exhibit: Sahara');
		} else if (str == 'birds') {
			$('#dropdownMenuButton1').text('Exhibit: Birds');
		} else if (str == 'pacific') {
			$('#dropdownMenuButton1').text('Exhibit: Pacific');
		} else if (str == 'amphibian') {
			$('#dropdownMenuButton2').text('Type: Amphibian');
		} else if (str == 'anthropod') {
			$('#dropdownMenuButton2').text('Type: Anthropod');
		} else if (str == 'bird') {
			$('#dropdownMenuButton2').text('Type: Bird');
		} else if (str == 'mammal') {
			$('#dropdownMenuButton2').text('Type: Mammal');
		} else if (str == 'reptile') {
			$('#dropdownMenuButton2').text('Type: Reptile');
		}
		
	});
	$('th>.dropdown-toggle').on('click', onClick);


	$("tbody tr").click(function() {
		$(this).addClass('highlight').siblings().removeClass('highlight');
		var cells = this.cells; //cells collection
		var id = cells[8].innerHTML;
		console.log(id);
		$('#idSelector').val(id);
		// $(this).addClass('bg-info').siblings().removeClass('bg-info');
	});

	function onClick(e) {
		var th = $(e.target).parent();
		var col = th.text();
		var table = $(th).parents('table').eq(0);
    	var rows = table.find('tr:gt(0)').toArray().sort(compare($(th).index()));
    	this.asc = !this.asc;
		if (!this.asc) {
			rows = rows.reverse();
		}
    	for (var i = 0; i < rows.length; i++) {
    		table.append(rows[i]);
    	}
	}

	function compare(index) {
	    return function(a, b) {
	        var valA = getCellValue(a, index); 
	        var valB = getCellValue(b, index);
	        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB);
	    }
	}

	function getCellValue(row, index){ 
		return $(row).children('td').eq(index).text(); 
	}
</script>